.portfolio{
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
    background-color: #6C63FF;
}

.portfolioHeading{
    color: #2a2a2a;
    font-size: 1.7rem;
    margin-top: 10px;
    opacity: 0.3;
    letter-spacing: 5px;
    text-transform: uppercase;
}

body{
    position: relative;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer{
    overflow: initial;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
}

.card{
    margin: 10px;
    border-radius: 10px;
    transition: 300ms ease;
}

.card:hover{
    background-color: #403ba8;
    transform: scale(1.05);
}

.card-body{
    text-align: left;
}

.cardBtn{
    color: white;
    background-color: #6C63FF;
}

.portfolioImg{
    width: 15.7rem;
    margin: 15px;
    border-radius: 10px;
}

.waveLower{
    margin-top: -5px;
}

.waveBg{
    margin-top: -70px;
}


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #6C63FF;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev, .swiper-button-next{
      color: #FFF !important;
  }



@media only screen and (min-width: 360px) and (max-width:450px){

    .portfolioImg{
        width: 89%;
    }

    .portfolio{
        height: auto;
    }

}

@media only screen and (min-width: 340px) and (max-width:780px){

    .portfolio{
        height: auto;
    }

}

